<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}browsely{% endblock %}</title>

    <!-- bootstrap css-->
    <link href="static/css/bootstrap.min.css"  rel="stylesheet">
    <!-- bootstrap js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.8.69/pdf.min.mjs"></script> -->
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-gradient navbar-fixed-top">
            <div class="container">
                <a href="{{ url_for('index') }}" class="navbar-brand pull-left"><img src="static/images/searchly_logo40X171.png
                    "></a> 

                <div id="alert-box"></div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    <!-- Page content goes here -->
    {% endblock %}
 

    <!-- Footer -->
    <footer class="bg-info bg-gradient text-center text-lg-start mt-auto py-2">
        <div class="container text-center">
            <p>&copy; 2024 Browsely. All rights reserved</p>
        </div>
    </footer>
    <!-- mainjs -->
    <script src="static/js/main.js"></script>
</body>
</html>